<nav class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group btn-group-lg" role="group">
    @if(currentUrl() == '/list')
      @set('isListPageActive', 'active')
    @endif

    @if(currentUrl() == '/')
      @set('isFormPageActive', 'active')
    @endif

    <a class="btn btn-primary {{ isFormPageActive }}" href="/">Form Link</a>
    <a class="btn btn-primary {{ isListPageActive }}" href="/list">List Link</a>
  </div>
</nav>